<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Machine Learning in Drug Discovery & Development Lab at Connecticut</h2>
                <hr class="light">
                <p class="text-faded">Over the past decade, machine learning has achieved remarkable successes in various research domains, including computer vision, natural language processing and robotics learning. Similarly, artificial intelligence driven by machine learning algorithms is rapidly gaining popularity within the field of drug discovery and development. However, given the complexity of human biology, applying AI to drug discovery is significantly more challenge than image classification! Our group is formed by members with diverse research backgrounds with three key objectives:</p>
                <p class="text-faded" text-align="justify"> 
                1. Develop innovative mathematical models by incorporating either biochemical domain knowledge into the algorithm development, enable data-to-knowledge transition and further exploit derived knowledge for innovative discoveries.

                2. Promote multidisciplinary collaboration (at Connecticut) in this fields

                3. Help the next generation of scientist to be prepared for the ongoing big data and AI revolution. Educate life science professionals about emerging Machine Learning concepts and provide young computer scientists with the hands-on opportunities to be involved in the data-driven drug discovery research
                </p>
                <!-- <a href="#portfolio" class="btn btn-default btn-xl">Projects!</a> -->
            </div>
        </div>
    </div>
</section>
