<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Mission</h2>
                <hr class="light">
                <p class="text-justify" font-weight=bold>Over the past decade, machine learning has achieved remarkable successes in various research domains, including computer vision, natural language processing, and robotics learning. Artificial intelligence driven by machine learning algorithms is rapidly gaining popularity in the field of drug discovery and development. However, given the complexity of human biology, applying AI to drug discovery is significantly more challenging than image classification! Our group is formed by members with diverse expertise and research background to fullfil three key objectives:</p>
                <ul style="list-style-type:disc">
                    <li><p class="text-justify"> Develop innovative approaches to incorporate biochemical knowledge into the development of AI algorithms, enable data-to-knowledge transition, and exploit the knowledge derived from data for drug development.</p></li>
                    <li><p class="text-justify"> Nurture multidisciplinary collaborations among the different stakeholders in the drug discovery fields, and unite researchers of similar interests at Connecticut.</p></li>
                    <li><p class="text-justify"> Train the next generation of life science professionals to be prepared for the big data and AI revolution. Educate computer scientists with biological and chemical knowledge for data-driven drug discovery research.</p></li>
                </ul>
                <!-- <a href="#portfolio" class="btn btn-default btn-xl">Projects!</a> -->
            </div>
        </div>
    </div>
    <!-- 
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Drug Representation</h3>
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p> 
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Property Prediction</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Chemical Reaction</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Feature extraction</h3>
                </div>
            </div>
        </div>
    </div>-->
</section>

