<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Project Name</h1>
            <h2>Subtitle</h2>
            <hr>
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-4x wow tada" data-wow-delay=".1s"></i>
            </a>
            <!-- <h2>Connecticut</h2> -->
            <!-- <p>Machine Learning in Drug Discovery & Development at Connecticut!</p> -->
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">TWITTER</a> -->
            <!-- 
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-4x wow bounceIn" data-wow-delay=".1s"></i>
            </a>
            -->
        </div>
    </div>
</header>
