<section class="no-padding" id="people">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2> </h2>
                <h2> </h2>
                <h2 class="section-heading">Team</h2>
                <hr class="primary">
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-md-5 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <img src="img/portfolio/p0.png" class="img-responsive" alt="" data-wow-delay=".1s">
                    <h3>Jinbo Bi</h3>
                    <p class="text-justify">Professor at UCONN CSE. Ph.D. in Mathematics. Expertise in machine learning, big data analytics, computer vision, and medical informatics.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i> -->
                    <img src="img/portfolio/p1.png" class="img-responsive" alt="" data-wow-delay=".1s">
                    <h3>Minghu Song</h3>
                    <p class="text-justify"> Yale Center of Molecular Discovery, Ph.D. in Organic Chemistry from RPI and M.S. in Data Science from UC Berkeley. Expertise in computer-aided drug discovery.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i> -->
                    <img src="img/portfolio/cai.png" class="img-responsive" alt="" data-wow-delay=".1s">
                    <h3>Caiwen Ding</h3>
                    <p class="text-justify"> Assistant Professor at UCONN CSE. Ph.D. in Computer Engineering from NEU. Expertise in machine learning, FPGA acceleration, neuromorphic computing and efficient computing.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <img src="img/portfolio/p2.png" class="img-responsive" alt="" data-wow-delay=".2s">
                    <h3>Chunjiang Zhu</h3>
                    <p class="text-justify"> Postdoctoral at University of Connecticut. He obtained his Ph.D. in Computer Science at the City University of Hong Kong, expertise in data science and data analytics.
                    </p>
                </div>
            </div>
			<div class="col-lg-3 col-md-5 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i> -->
                    <img src="img/portfolio/p0.png" class="img-responsive" alt="" data-wow-delay=".1s">
                    <h3>Jinbo Bi</h3>
                    <p class="text-justify">Professor at UCONN CSE. Ph.D. in Mathematics. Expertise in machine learning, big data analytics, computer vision, and medical informatics.</p>
                </div>
            </div>


            <div class="col-lg-3 col-md-5 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i> -->
                    <img src="img/portfolio/p4.png" class="img-responsive" alt="" data-wow-delay=".2s">
                    <h3>Qinqing Liu</h3>
                    <p class="text-justify">Ph.D. student in CSE, University of Connecticut. M.S. in Statistics and B.S. in Mathematics. Expertise in machine learning, algorithm and statistical inference. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i> -->
                    <img src="img/portfolio/p3.png" class="img-responsive" alt="" data-wow-delay=".2s">
                    <h3>Chao Shang</h3>
                    <p class="text-justify"> Ph.D. Student at University of Connecticut. Expertise in machine learning and deep graph learning using large-scale datasets, with an emphasis on healthcare informatics. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i> -->
                    <img src="img/portfolio/p8.png" class="img-responsive" alt="" data-wow-delay=".2s">
                    <h3>Xinyu Wang</h3>
                    <p class="text-justify">Undergraduate student from the University of Connecticut. Expertise in machine learning, data analysis, mathematical modeling and drug discovery.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i> -->
                    <img src="img/portfolio/bing.png" class="img-responsive" alt="" data-wow-delay=".2s">
                    <h3>Bingbing Li</h3>
                    <p class="text-justify">Ph.D. student in CSE, University of Connecticut. He obtained his Ph.D. at SIA, CAS. Expertise in machine learning, algorithm, robotics and data analysis.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i> -->
                    <img src="img/portfolio/p5.png" class="img-responsive" alt="" data-wow-delay=".2s">
                    <h3>John Wohl</h3>
                    <p class="text-justify">Undergraduate student at the University of Connecticut. Interested in dimension reduction, computer vision, autoencoders, and software development.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i> -->
                    <img src="img/portfolio/p6.png" class="img-responsive" alt="" data-wow-delay=".2s">
                    <h3>Kieran Clarke</h3>
                    <p class="text-justify">Undergraduate student from the University of Connecticut. Interested in machine learning and doing work on classification algorithms for a drug discovery project.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-5 text-center">
                <div class="service-box">
                    <!-- <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i> -->
                    <img src="img/portfolio/p7.png" class="img-responsive" alt="" data-wow-delay=".2s">
                    <h3>Jay Patel</h3>
                    <p class="text-justify"> Undergraduate student at the University of Connecticut. Interested in machine learning, software development, and medical informatics.</p>
                </div>
            </div>
            <!-- <div class="col-lg-3 col-md-5 text-center">
                <div class="service-box">
                    <img src="img/portfolio/p_un.png" class="img-responsive" alt="" data-wow-delay=".2s">
                    <h3>Jay Patel</h3>
                    <p class="form-people">Undergraduate reseacher</p>
                </div>
            </div> -->
        </div>

        <!--
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <hr class="light">
            <a href="#portfolio" class="btn btn-default btn-xl">More Members!</a>
        </div> 
        -->
    </div>

    
    <!--
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-2 col-sm-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/18.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Computational Chemist
                            </div>
                            <div class="project-name">
                                Minghu Song
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/18.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Professor
                            </div>
                            <div class="project-name">
                                Jinbo Bi
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/18.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                MD
                            </div>
                            <div class="project-name">
                                Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/18.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Researcher
                            </div>
                            <div class="project-name">
                                Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/18.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 col-sm-4">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/18.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Category
                            </div>
                            <div class="project-name">
                                Name
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    -->
</section>
