<section class="no-padding" id="portfolio">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2> </h2>
                <h2 class="section-heading">Projects</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-codepen wow bounceIn text-primary"></i>
                    <h3>Drug Representation</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-pie-chart wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Property Prediction</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-area-chart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Chemical Reaction</h3>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-database wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Feature Extraction</h3>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2> </h2>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://mlddd-ct.github.io/projects.html" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <!-- <div class="project-category text-faded">
                                Category
                            </div> -->
                            <div class="project-name">
                                Large-scale chemical similarity & diversity analysis
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <!-- <div class="project-category text-faded">
                                Category
                            </div> -->
                            <div class="project-name">
                                3D deep learning for protein-ligand interaction
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <!-- div class="project-category text-faded">
                                Category
                            </div> -->
                            <div class="project-name">
                                Protein-ligand interaction knowledge database
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <!-- <div class="project-category text-faded">
                                Category
                            </div> -->
                            <div class="project-name">
                                Bioinformatics omic data analyses and knowledge mining
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <!--<div class="project-category text-faded">
                                Category
                            </div> -->
                            <div class="project-name">
                                Deep learning methodology development for Drug Discovery
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <!--
                            <div class="project-category text-faded">
                                Category
                            </div>
                            -->
                            <div class="project-name">
                                Interpretable machine learning and interactive visualization
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
